<%- include('../clientincludes/head.ejs') %>
    <div class="container-fluid mt-5" style="padding: 10%;">

        <!-- Page Heading -->



        <div class="card o-hidden border-0 shadow-lg  p-5" style="padding-top: 50px;padding-bottom: 50px;">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div>
                            <div class="text-center">
                                <h1 class=" text-gray-900 mb-4 text mb-5" style="font-family: 'Dancing Script', cursive; ">Corpora</h1>
                            </div>

                            <form action="/searchenglish" method="POST" id="checkword">
                                <div id="inputFormRow" class="form-group row">
                                    <div class="col-sm-12  input-group d-flex justify-content-center">
                                        <button id="english" type="button" class="btn btn-sm  but">English | മലയാളം</button>
                                        <button id="malayalam" type="button" class="btn btn-sm but">മലയാളം | മലയാളം</button>


                                    </div>
                                    <div class="col-sm-12 mb-3 mb-sm-0 input-group">

                                        <input required type="text" name="word" class="form-control form-control-user " placeholder="Search words" list="browsers" autocomplete="off">
                                        <div class="input-group-append">
                                            <button form="checkword" type="submit" class="btn btn-info">Search</button></div>
                                    </div>


                                </div>
                            </form>

                            <hr class="mb-5">
                            <%- include('../clientincludes/menu.ejs') %>

                        </div>
                    </div>
                </div>
            </div>


            <!-- End of Topbar -->

            <!-- Begin Page Content -->

            <!-- /.container-fluid -->

        </div>
    </div>
    <script>
        $('#english').on('click', function() {
            $("#checkword").attr("action", "/searchenglish");

        });
        $('#malayalam').on('click', function() {

            $("#checkword").attr("action", "/searchmalayalam");
        });
    </script>
    <%- include('../clientincludes/end.ejs') %>