<%- include('../clientincludes/head.ejs') %>
    <div class="container-fluid" style="padding: 10%;">

        <!-- Page Heading -->



        <div class="card o-hidden border-0 shadow-lg p-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-3">
                        <div class="text-center">
                            <h1 class=" text-gray-900 mb-4 text mb-5" style="font-family: 'Dancing Script', cursive; ">Corpora</h1>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>


                            <%- include('../clientincludes/search.ejs') %>




                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="background-color: rgb(190, 190, 190);">
                        <a>A</a> <a>B</a> <a>C</a> <a>D</a> <a>E</a> <a>F</a> <a>G</a> <a>H</a> <a>I</a> <a>J</a> <a>K</a> <a>L</a> <a>M</a> <a>N</a> <a> O</a> <a>P</a> <a>Q</a> <a>R</a> <a>T</a> <a>U</a> <a>V</a> <a>W</a> <a>X</a> <a>Y</a> <a>Z</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container p-5">
                            <table class="table" width="100%" id="dataTable" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="text-center">Date</td>
                                        <td class="text-center">amount payed</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="mb-5">
                <%- include('../clientincludes/menu.ejs') %>





            </div>


            <!-- End of Topbar -->

            <!-- Begin Page Content -->

            <!-- /.container-fluid -->

        </div>
    </div>
    <%- include('../clientincludes/end.ejs') %>