<!DOCTYPE html>
<html style="height: 100%;" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> CORPORA</title>

    <!-- Custom fonts for this template -->


    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Style+Script&family=WindSong:wght@400;500&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <style>
        .but {
            float: left;
            font-size: 12px;
            text-decoration: none;
            margin: 0 3px 0 0;
            padding: 3px 10px;
            border-radius: 3px 3px 0 0;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            text-align: center;
            min-width: 130px;
        }
        
        .noul {
            padding: 0;
            list-style-type: none;
            margin: 0;
        }
        
        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
        
        ul.nav {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 6px 3px;
            text-align: center;
            font-size: 12px;
        }
        
        .nav li {
            display: inline;
            margin: 0 15px;
        }
        
        .nav,
        .nav a {
            color: #999;
            text-decoration: none;
            transition: color .2s ease-in;
            font-size: larger;
        }
        
        .nav a:hover,
        .nav .active {
            color: #666;
            transition: color .2s ease-in;
        }
    </style>
</head>

<body style="background-color:#f9f9f9">