<ul class="noul nav">

    <li><a class="<% if(path == 'index'){%>active<%}%>" href="/">Home</a></li>
    <li><a href="/adwords" class="<%if (path == 'adword'){%>active<%}%>">Add new word</a></li>
    <li><a href="/englishwords" class="<%if (path == 'englishword'){%>active<%}%>">ഇംഗ്ലീഷ് പദമാലിക</a></li>
    <li class="browse_ml"><a class="<%if (path == 'malayalamword'){%>active<%}%>" href="/malayalamwords">മലയാളം പദമാലിക</a></li>
</ul>